.gallery_image_wrapper {
    max-width: 105%;
    max-height: 105%;

    margin: 1.5vmin;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.gallery_image_wrapper:hover {
    transform: scale(1.05);
}
