#navbar_maincontainer {
    height: 2.55vmin;
    padding: 18px;

    display: flex;
    justify-content: center;

    align-items: center;
    font-family: 'Comfortaa';

    background: var(--main-background-color);
    border-bottom: 2.55px solid var(--main-border-color);
}
