@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    overflow: hidden;
    overflow-y: scroll;
    background: rgb(20, 20, 20);

    --main-background-color: #2b3030;
    --main-border-color: #28acac;
}

::-webkit-scrollbar {
    width: .5vmin;
}

::-webkit-scrollbar-track {
    background: rgb(71, 71, 71);
}

::-webkit-scrollbar-thumb {
    background: var(--main-border-color);
}

#main_inner_centeredarea {
    width: 100vmin;

    margin: 3vmin;
    padding: 3vmin;
    border-radius: 1vh;

    color: white;
    position: relative;
    font-family: 'Comfortaa';

    background: #2b303083;
    border: 1px solid var(--main-border-color);
}

.about_page_wrapper {
    margin-top: 1.85vmin;
    overflow: hidden;
}

#page_bio_years {
    color: darkgrey;
}

.hyperlink {
    color: rgb(0, 190, 190);
}

.pastwork_image_wrapper {
    display: flex;
    justify-content: center;
}

.pastwork_image_wrapper > .pastwork_image_elem {
    width: 100%;
    border-radius: .5vh;
}
